<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add a RedditClone</title>
</head>
<body>
<a href="/add">Add a Reddit Clone</a><br />
<table>
    <tr th:each="redditclone : ${redditclones}">
        <td>
           <!--<p th:text="${redditclone.title}"><br/></p> -->
           <a th:href="@{(${redditclone.url})}">
               <p th:text="${redditclone.title}"></p>
           </a>
           <p th:text="${redditclone.username}"><br/></p>
          <!-- <a th:href="@{redditclone.url}"><br/></a> -->

           <p th:text="${redditclone.date}"><br/></p>
        </td>
    </tr>
</table>
</body>
</html>