<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add RedditClone</title>
</head>
<body>
<form action="#"
      th:action="@{/process}"
      th:object="${redditclone}"
      method="post">
      <input type="hidden" th:field="*{id}" />
    Username : <input type="text" th:field="*{username}" />
    <span th:if="${#fields.hasErrors('username')}"
          th:errors="*{username}"></span><br />

    title : <input type="text" th:field="*{title}" />
    <span th:if="${#fields.hasErrors('title')}"
          th:errors="*{title}"></span><br />

    url : <input type="text" th:field="*{url}" />
    <span th:if="${#fields.hasErrors('url')}"
          th:errors="*{url}"></span><br />

    date : <input type="text" th:field="*{date}" />
    <span th:if="${#fields.hasErrors('date')}"
          th:errors="*{date}"></span><br />
 <br />
 <input type="submit" value="Submit" />
</form>
</body>
</html>